<ul class="grid cs-style-7">
  <li class="box-left">
    <figure>
      <div>
        <%= link_to image_tag gravatar_image_url((user.email), size: 400 ) %>
      </div>
      <figcaption>
          <%= link_to "Email #{user.name}", "mailto: #{user.email}"  %>  
      </figcaption>
    </figure>
    <br>
    <h1><%= user.name %></h1>
    <span>From <%= user.hometown %></span>
    <% if current_user != user %>
      <% if current_user.friends? user %>
        <%= button_to "Unfollow #{user.name}",
          unfollow_user_path(user), method: :delete %>
      <% else %>
        <%= button_to "Follow #{user.name}", follow_user_path(user), method: :post %>
      <% end %>
    <% end %>
  </li>
</ul>
