<div class="left">
  <%= render 'profile_box', user: @user %>

  <% if current_user == @user %>
    <%= simple_form_for [current_user, @status] do |f| %>
      <%= f.input :text, label: 'Write a status.' %>
      <%= f.button :submit %>
    <% end %>
  <% end %>

  <hr>
  <h3>Following:</h3>
  <% @user.friends.each do |friend| %>
  <p><%= link_to friend.name, friend %>
    <% if current_user == @user %> 
    | <%= link_to "Remove", unfollow_user_path(friend), method: :delete %></p>
    <% end %>
  <% end %>
  <hr>
  <h3>Recent Statuses:</h3>
  <% @user.statuses.each do |status| %>
    <p><%= status.text %></p>
  <% end %>
  <hr>
  <h3>Followers:</h3>
  <% @user.inverse_friendships.each do |added_by| %>
    <p><%= link_to added_by.user.name, added_by.user %></p>
  <% end %>
</div>

<div class="right top">
  <h3>Recent Github Repositories</h3>
  <hr>
  <% @repos.each do |repo| %>
    <p>Name:  <strong><%= link_to repo.name, repo.html_url %></strong></p>
    <p>Language: <%= repo.language %></p>
    <p>Description: <%= repo.description %></p>
    <% if repo.fork %>
        <p><%= image_tag("fork.png") %>* Note: This is a fork of a pre-existing repository.</p>
    <% end %>
    <hr>
  <% end %>
</div>
