<div>
  <%= simple_form_for [current_user, @status] do |f| %>
  <%= f.input :status %>
  <%= f.button :submit %>
<% end %>
</div>

<%= @user.statuses.each do |status| %>
  <p><%= status.status %></p>
<% end %>

<%= image_tag gravatar_image_url((@user.email), size: 150 ) %>

Email: <%= @user.email %><br>
Hometown: <%= @user.hometown %>
<%= link_to "Add Friend", friendships_path(:friend_id => @user ), method: :post %>

<h3>Following:</h3>
<div class="friends">
  <% @user.friendships.each do |friendship| %>
  <p><%= friendship.friend.name %> | <%= link_to "Remove", friendship, method: :delete %></p>
<% end %>

<h3>Followers:</h3>
<div class="inverse_friends">
  <% @user.inverse_friendships.each do |added_by| %>
  <p><%= added_by.user.name %></p>
<% end %>

