<header class="navigation">
  <link href='http://fonts.googleapis.com/css?family=Dosis|Squada+One' rel='stylesheet' type='text/css'>
  <div class="menu-wrapper">
    <div>
        <%= link_to(image_tag("logo_small.png"), root_path, class: "logo") %>
      </a>
      <p class="menu-button" id="js-mobile-menu">MENU</p>
      <div class="nav">
        <ul id="navigation-menu">
          <li><%= link_to "Cities", cities_path %></li>
          <li><%= link_to "Cohorts", cohorts_path %></li>
          <li><%= link_to "Admin", admin_dashboard_path %></li>
          <li><%= link_to "About", page_path('about') %></li>
          <li class="navigation-search-bar">
            <div class="search-bar">
              <div class="search-and-submit">
                  <%= form_for(:search, url: search_path, method: :get, html: {class: "search"}) do |form| %>
                  <%= form.search_field :query, placeholder: "Search Here" %>
                  <%= form.submit "Search", name: nil, :class => 'spoof', :src => "https://raw.githubusercontent.com/Magnus-G/Random/master/search-icon.png" %>
                  <% end %>
                <!-- <button type="submit">
                  <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/search-icon.png" alt="">
                </button> -->
              </div> 
            </div>
          </li>
        </ul>
      </div>
    </div>
  </header>
