<!DOCTYPE html>
<html>
<head>
  <title>MetisApp</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="js-menu-screen menu-screen"></div>
<nav class="js-menu sliding-menu-content">
  <ul>
    <li><%= link_to(image_tag("logo_small.png"), root_path, class: "logo") %></li>
    <% if current_user.present? %>
    <li><%= link_to (image_tag gravatar_image_url((current_user.email), size: 35 )), current_user %></li>
    <li><a href="javascript:void(0)">Followers: <%= current_user.inverse_friends.count %></a></li>
    <li><%= link_to "Friend Feed", activities_path %></li>
    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
    <% end %>
    <% if current_user && current_user.purchased_book? %>
      <li><%= link_to "Read The Book", book_downloads_path %></li>
    <% else %>
      <li><%= link_to "Buy the Book", new_charge_path %></li>
    <% end %>
    <% if current_user && current_user.admin? %>
      <li><%= link_to "Admin", admin_dashboard_path %></li>
    <% end %>
  </ul>
</nav>
<%= render "layouts/nav" %>
<%= render "layouts/flash_messages" %>
<div class="page-wrap">
       <%= yield %>       
</div>       
<%= render "layouts/footer" %>
</body>
</html>
<script>
  $(document).ready(function(){

    $('.js-menu-trigger').on('click touchstart', function(e){
      $('.js-menu').toggleClass('is-visible');
      $('.js-menu-screen').toggleClass('is-visible');
      e.preventDefault();
    });

    $('.js-menu-screen').on('click touchstart', function(e){
      $('.js-menu').toggleClass('is-visible');
      $('.js-menu-screen').toggleClass('is-visible');
      e.preventDefault();
    });
  });
</script>
